/* 用通用標籤設定，將整個網頁的 padding跟margin設為0*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.top {
  background-color: bisque;
  width: 100%;
  height: 250px;
  padding: 10px;
}
.top img {
  height: 230px;
  width: 100%;
}
.toolBar {
  position: sticky;
  width: 100%;
  background-color: cadetblue;
  opacity: 0.85;
}
/* 不能用外面的container 來設定flex 要用裡面的 ul 設定，若導覽列前面要有padding也是設在這裡*/
.toolBar ul {
  padding-left: 20px;
  display: flex;
  list-style-type: none;
}
.toolBar ul li {
  display: flex;
}
.toolBar ul li img {
  width: 30px;
  height: 30px;
}
/* 超連結不要有下修飾線，text-decoration:none; */
.toolBar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 20px 60px;
  transition: 0.25;
}
.toolBar ul li a:hover {
  color: rgb(48, 170, 48);
  background-color: rgb(46, 92, 77);
}
.active {
  background-color: aqua;
}
.content {
  display: flex;
  width: 100%;
  font-size: 2rem;
  font-weight: 700;
}
.left {
  flex: 3 1 800px;
  border: 3px solid rgb(88, 162, 211);
  margin: 20px 20px;
  padding: 50px;
}
/* 將right設成flex container，flex-diraction:colim 就可以垂直排列標籤內容 align-item跟排列方式垂直的方向位置*/
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 300px;
  border: 3px solid rgb(156, 185, 25);
  margin: 20px 20px;
  padding: 50px 20px;
}
.right img {
  transition: transform 1s ease;
  width: 400px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(31, 34, 46);
  overflow: hidden;
}
.right img:hover {
  position: relative;
  top: 5px;
  transform: scale(1.4);
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);
}
}
/* 水平方向的flex-diration則設align-item及justify-content都是 center */
.foot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: salmon;
  font-size: 1.5rem;
  color: aliceblue;
}
